body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans',
  -apple-system, sans-serif;
}

.nav-bar {
  background-color: rgba(10, 10, 20, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2.6rem;
  align-items: center;
}

.nav-bar > h1 {
    color: #3282b8;
    font-family: 'Libertinus Serif', -apple-system, sans-serif;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    color: white;
}

.navbar-links li {
    position: relative;
    margin-bottom: 2px;
}

.navbar-links li:hover {
    color: #3282b8;
}

.navbar-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #3282b8;
    transition: width 0.2s ease;
}

.navbar-links li:hover::after {
    width: 100%;
}