body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans',
  -apple-system, sans-serif;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1000; */
  padding: 0.4rem 2.6rem;
  background: #16213E;
  background: linear-gradient(90deg, rgba(22, 33, 62, 1) 2%, rgba(26, 26, 46, 1) 100%);
/*   backdrop-filter: blur(10px);
  border-bottom: 1px solid #3282b833;
  transition: all 0.3 ease; */
}

.nav-bar > h1 {
    color: #3282b8;
    font-family: 'Libertinus Serif', -apple-system, sans-serif;
}

.navbar-links {
    display: none;
}

.mobile-menu-btn {
    cursor: pointer;
}

.navbar-links.open {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 20px;
    top: 60px;
    list-style: none;
    background-color: rgba(22, 33, 62, 1);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    gap: 1rem;
}

@media (min-width: 768px) {
    .navbar-links{
        list-style: none;
        display: flex;
        gap: 2.5rem;
        color: white;
    }
    .mobile-menu-btn {
        display: none;
    }
}

.navbar-links li span {
    position: relative;
    margin-bottom: 2px;
    cursor: pointer;
}

.navbar-links li span:hover {
    color: #3282b8;
}

.navbar-links li span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #3282b8;
    transition: width 0.2s ease;
}

.navbar-links li span:hover::after {
    width: 100%;
}