html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans',
  -apple-system, sans-serif;
  box-sizing: border-box;
  background: #1A1A2E;
  background: linear-gradient(136deg, rgba(26, 26, 46, 1) 0%, rgba(1, 36, 66, 1) 60%, rgba(22, 33, 62, 1) 100%);
}

header {
    margin-bottom: 5.8rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0.4rem 1.5rem;
  background: #16213E;
  background: linear-gradient(90deg, rgba(22, 33, 62, 1) 0%, rgba(26, 26, 46, 1) 100%);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #3282b833;
  transition: all 0.3 ease;
}

.nav-bar > h1 {
    color: #3282b8;
    font-family: 'Libertinus Serif', -apple-system, sans-serif;
}

.navbar-links {
    display: none;
}

.mobile-menu-btn {
    cursor: pointer;
}

.navbar-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 60px;
    list-style: none;
    background-color: rgba(22, 33, 62, 1);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    gap: 1rem;
}

.navbar-links li span {
    position: relative;
    margin-bottom: 2px;
    cursor: pointer;
}

.navbar-links li span:hover {
    color: #3282b8;
}

.navbar-links li span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #3282b8;
    transition: width 0.2s ease;
}

.navbar-links li span:hover::after {
    width: 100%;
}

@keyframes fadeInUp {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
}

.hero-section {
    padding-left: 0;
}

.hero-texts {
    text-align: center;
    padding: 2rem 1.7rem 0 1.5rem;
}

.hero-texts h1 {
    background: linear-gradient(135deg,rgba(232, 232, 232, 1) 0%, rgba(50, 130, 184, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    animation: fadeInUp 0.8s ease 0.2s forwards;
}

.hero-texts h6 {
    font-size: 1.1rem;
    color: #3282b8;
    font-weight: 500;
    animation: fadeInUp 0.8s ease 0.2s forwards;
    opacity: 0;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-texts p {
    color: #a0a0a0;
    font-size: 1.1rem;
    margin: 1.5rem 0rem;
    line-height: 1.8;
    animation: fadeInUp 0.8s ease 0.2s forwards;
    opacity: 0;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

.button-section button {
    padding: 1.2rem 2.5rem;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.button-section .btn1 {
    background-color: #3282b8;
    box-shadow: 0 4px 20px rgba(50, 130, 184, 0.3);
}

.button-section .btn1:hover {
    background-color: #205375;
    transform: translateY(-2px);
    box-shadow: 0 6px 30px rgba(50, 130, 184, 0.4);
}

.button-section .btn2 {
    background-color: transparent;
    border: 1px solid rgba(50, 130, 184, 0.4);
}

.button-section .btn2:hover {
    color: #3282b8;
    border: 1px solid #3282b8;
}

.hero-img {
    margin-top: 1rem;
    text-align: center;
}

.hero-img img {
    margin-top: 2rem;
    width: 80vw;
}

#about {
    padding: 0rem 5% 6rem;
}

.section-header {
    text-align: center;
    margin-top: 5rem;
}

.section-header h1 {
    background: linear-gradient(135deg,rgba(232, 232, 232, 1) 0%, rgba(50, 130, 184, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.section-header p {
    color: #a0a0a0;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    line-height: 1.8;
}

.about-text p {
    color: #a0a0a0;
    font-size: 1.15rem;
    margin: 1.5rem 0;
    line-height: 1.9;
}

.stat-card {
    background-color: #1a1a2e;
    padding: 24px;
    border-radius: 10px;
    margin-bottom: 32px;
    /* box-shadow: 0 6px 30px rgba(50, 130, 184, 0.4); */
    border: 1px solid rgba(50, 130, 184, 0.4);
}

.stat-icon {
    font-size: 32px;
    margin-bottom: 0.5rem;
}

.stat-card h3 {
    color: #3282b8;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 0.3rem 0;
}

.stat-card p {
    color: #a0a0a0;
    font-size: 0.9rem;
    margin: 0;
}

.education-timeline {
    margin-top: 5rem;
    background-color: #1a1a2e;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid rgba(50, 130, 184, 0.4);
}

.education-timeline h3 {
    color: #3282b8;
}

.education-timeline > h3:first-child {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.education-item {
    padding: 1.5rem 0;
}

.education-item h3{
    margin: 0 0 8px;
    font-size: 1.2rem;
}

.institution {
    margin: 0 0 0.3rem;
    color: #a0a0a0;
    font-weight: 500;
}

.details {
    color: #a0a0a0;
    margin: 0;
}

.education-item:last-child {
    padding-bottom: 0;
}

hr {
    border: 0.5px solid rgba(50, 130, 184, 0.4);
}

.footer-content {
    text-align: center;
    background-color: #1a1a2e;
    padding: 2rem 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    flex-wrap: nowrap;
}

.footer-links a{
    color: #a0a0a0;
    text-decoration: none;
}

.footer-links a:hover {
    color: #3282b8;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    box-sizing: border-box;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #16213e;
    border: 1px solid #3282b833;
}

.social-links a:hover {
    background-color: #3282b8;
    transform: translateY(-4px);
}

.footer-content p {
    margin-bottom: 0;
}

footer small {
    white-space: nowrap;
    color: #a0a0a0;
    font-size: 0.9rem;
    line-height: 1.9;
    /* padding-right: 3rem; */
}


@media (min-width: 641px) and (max-width: 968px) {
    .stats-grid {
        display: grid;
        grid-template: auto auto / 1fr 1fr;
        gap: 32px;
    }
    .stat-card {
        margin-bottom: 0;
    }
}

@media (min-width: 969px) {
    .navbar-links{
        list-style: none;
        display: flex;
        gap: 2.5rem;
        color: white;
    }
    .mobile-menu-btn {
        display: none;
    }
    
    .hero-section {
        display: flex;
        justify-content: space-between;
        padding: 1.8rem 5rem;
        gap: 10rem;
    }

    .hero-texts {
        text-align: left;
        padding-top: 0;
    }
    
    .hero-texts h1 {
        font-size: 4.5rem;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .hero-texts h6 {
        font-size: 1.3rem;
    }

    .button-section {
        justify-content: start;
    }
    .button-section button {
        width: 11rem;
        padding: 1rem 2.5rem;
        white-space: nowrap;
    }
    .hero-img {
        padding-top: 0;
        margin-top: 0;
    }

    .hero-img img {
        max-width: 100%;
        padding-right: 2rem;
    }

    #about {
        padding-top: 0;
    }

    .stats-grid {
        display: grid;
        grid-template: auto auto / 1fr 1fr;
        gap: 1.5rem;
    }
    .stat-card {
        margin-bottom: 0;
    }

    .about-content {
        display: grid;
        grid-template: auto auto / 1fr 1fr;
        gap: 4.5rem;
        align-items: start;
    }

    .education-timeline {
        margin-top: 24px;
    }
}
@media (min-width: 669px) and (max-width: 968px) {
    .hero-img img {
        max-width: 50%;
    }
}
@media (min-width: 1345px) {
    .hero-img img {
        max-width: 478px;
        padding-right: 2rem;
    }
}